@using MinistryForWidows.Services
@inject CommonLocalizationService localizer

@{
    var culture = this.Context.GetRouteValue("culture");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MinistryForWidows</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MinistryForWidows.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="~/img/logo_v3.jpg" height="60" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <vc:menu-items></vc:menu-items>
                    <vc:culture-switcher></vc:culture-switcher>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="main">
        <div id="typed-strings">
            <p>
                @localizer.Get("MainBibleVerse")<br />
                @localizer.Get("MainBibleVerseReference")
                @if (string.Equals(culture, "ru"))
                {
                    <br />
                    @localizer.Get("MainBibleVerseCommentary");
                }
            </p>

        </div>
        <div class="container text-left">
            <div class="pt-5">
                <div class="row pt-3 pl-3 pr-3">
                    <div class="col-3">
                        <img src="~/img/main_widow_orphan.png" />
                    </div>
                    <div class="col-9">
                        <span class="bible-verse" id="typed"></span>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - MinistryForWidows - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
        var typed = new Typed('#typed', {
            stringsElement: '#typed-strings',
            typeSpeed: 50,
            contentType: 'html',
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>